.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Navigation {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: rgb(178, 196, 196);
}
.NavList {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
}
.Item {
  /* background-color: beige; */
  height: 50px;
}
.Link {
  padding-top: 13px;
  padding-bottom: 16px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  display: block;
  text-decoration: none;
  color: #212121;
}
.ActiveLink {
  background-color: antiquewhite;
}

.error {
  margin-top: 80px;
  color: tomato;
  font-size: 32px;
}

.fallback {
  color: cadetblue;
  font-size: 32px;
}
.Loader {
  margin-top: 100px;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
